body {
  margin: 0;
  padding: 0;
  background-color: #d6b3ed;
  color: #000;
  font-family: "Arial", Times, serif;
}

main {
  padding: 20px;
  flex-grow: 1;
}

img {
  border-radius: 25px;
  max-width: 50%;
  height: 50%;
}



.header a:hover {
  text-decoration: underline;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-form {
  max-width: 400px;
  background-color: #bb67ce;
  padding: 20px;
  border-radius: 50px;
}

.header {
  background-color: #886890;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.header a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.contact-form form {
  display: grid;
  grid-gap: 10px;
}

.contact-form label {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

.contact-form button:hover {
  background-color: #220901;
}

.newsletter {
  background-color: #8d7294;
  padding: 20px;
  border-radius: 50px;
}

.newsletter h2 {
  color: #000;
  margin-bottom: 10px;
}

.newsletter p {
  color: #000;
  margin-bottom: 20px;
}

.newsletter input[type="email"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.newsletter input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 5px;
  border-radius: 25px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.newsletter input[type="submit"]:hover {
  background-color: #555;
}

.intro {
  max-width: 600px;
  margin: 0 auto;
  background-color: #dfc2ef;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.intro h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.card {
  flex: 0 0 calc(50% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid #d6b3ed;
  border-radius: 25px;
  background-color: #ab76c6;
}

.card img {
  max-width: 100%;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.article-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

article {
  text-align: center;
  border: 1px solid #8800ff;
  padding: 10px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: #dfc2ef;
  border-radius: 25px;
  height: 450px;
}

article:hover {
  transform: scale(1.05);
}

.articles {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.intro p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

footer {
  background-color: #886890;
  padding: 20px;
  text-align: center;
  color: #888;
  font-size: 14px;
}

.articles-title {
  text-align: center;
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("https://static.wixstatic.com/media/5c2a62_977f1c7c868445aa87a4a216f219a4d4~mv2.png/v1/crop/x_0,y_0,w_517,h_282/fill/w_384,h_208,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/black-underline-png-3.png");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
} }

.articles-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.articles-text {
  line-height: 1.6;
}

.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  background-color: #d191de;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #8f36c3;
}
